<div class="sidenav" [ngClass]="collapsed ? 'sidnav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleColapsed()">F</button>
        <div class="logo-text" @fadeIn *ngIf="collapsed">Felipe</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenave-nav">
        <li class="side-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeIn *ngIf="collapsed">
                    {{ data.label }}
                </span>
            </a>
        </li>
    </ul>
</div>